# /!\ address at some point /!\
# ERROR: Cannot install -r requirements.txt (line 40), autopep8==1.5.5 and pycodestyle==2.6.0 because these package versions have conflicting dependencies.

# The conflict is caused by:
#     The user requested pycodestyle==2.6.0
#     autopep8 1.5.5 depends on pycodestyle>=2.6.0
#     flake8 3.7.9 depends on pycodestyle<2.6.0 and >=2.5.0

Flask-JWT-Extended==4.2.3 # added bc https://www.youtube.com/watch?v=8-W2O_R95Pk&ab_channel=BreatheCode 
Authlib==0.14.1 # https://github.com/Vuka951/tutorial-code/blob/master/flask-google-oauth2/requirements.txt 
flask-login==0.5.0 # added 8.6.21; was 'flask-login-0.5.0' in terminal after pip install flask_login was run in venv 
alembic==1.5.4
attrs==20.3.0
autopep8==1.5.5
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
Flask==1.1.2
Flask-Migrate==2.6.0
Flask-SQLAlchemy==2.4.4
gunicorn==20.1.0
idna==2.10
iniconfig==1.1.1
itsdangerous==1.1.0
Jinja2==2.11.3
Mako==1.1.4
MarkupSafe==1.1.1
packaging==20.9
pluggy==0.13.1
psycopg2-binary==2.8.6
py==1.10.0
pycodestyle==2.6.0
pyparsing==2.4.7
pytest==6.2.3
python-dateutil==2.8.1
python-dotenv==0.15.0
python-editor==1.0.4
requests==2.25.1
six==1.15.0
SQLAlchemy==1.3.23
toml==0.10.2
urllib3==1.26.4
Werkzeug==1.0.1